.history
node_modules

/api/src/data/config.dev.json
/api/src/data/config.local.json
/api/src/data/config.staging.json
/api/src/data/config.prod.json
/api/dist

/client/public/data/config.dev.json
/client/public/data/config.local.json
/client/public/data/config.staging.json
/client/public/data/config.prod.json
/client/build
